# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build Outputs
dist/

# Source Files / Specific Files (Opsional)
Register.tsx

# Archives & Temporary Files
*.zip
*.sql