--
-- PostgreSQL database dump
--

\restrict ktKpoLvZntWjFtygkvGbdkwbbGmNSq4Nc5LdYoEZBPfoqu1CAdv15br830o4ygP

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: book_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.book_status AS ENUM (
    'draft',
    'ongoing',
    'completed',
    'hiatus'
);


ALTER TYPE public.book_status OWNER TO postgres;

--
-- Name: chapter_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.chapter_status AS ENUM (
    'draft',
    'review',
    'published'
);


ALTER TYPE public.chapter_status OWNER TO postgres;

--
-- Name: character_role_tag; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.character_role_tag AS ENUM (
    'Protagonis',
    'Antagonis',
    'Side',
    'Mentor',
    'Rival',
    'Netral'
);


ALTER TYPE public.character_role_tag OWNER TO postgres;

--
-- Name: character_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.character_status AS ENUM (
    'Hidup',
    'Mati',
    'Hilang',
    'Disegel',
    'Reinkarnasi',
    'Lainnya'
);


ALTER TYPE public.character_status OWNER TO postgres;

--
-- Name: note_category; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.note_category AS ENUM (
    'Ide Spontan',
    'Dialog Draft',
    'Plot Hole',
    'Worldbuilding',
    'Lainnya'
);


ALTER TYPE public.note_category OWNER TO postgres;

--
-- Name: note_scope; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.note_scope AS ENUM (
    'book',
    'chapter',
    'character',
    'other'
);


ALTER TYPE public.note_scope OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'user'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: enforce_mention_book_character_match(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.enforce_mention_book_character_match() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF NOT EXISTS (

    SELECT 1

    FROM chapters ch

    JOIN book_characters bc ON bc.book_id = ch.book_id

    WHERE ch.id = NEW.chapter_id AND bc.character_id = NEW.character_id

  ) THEN

    RAISE EXCEPTION 'MENTION_CHARACTER_NOT_IN_BOOK';

  END IF;

  RETURN NEW;

END $$;


ALTER FUNCTION public.enforce_mention_book_character_match() OWNER TO postgres;

--
-- Name: enforce_snapshot_book_match(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.enforce_snapshot_book_match() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF NOT EXISTS (

    SELECT 1 FROM chapters c WHERE c.id = NEW.chapter_id AND c.book_id = NEW.book_id

  ) THEN

    RAISE EXCEPTION 'SNAPSHOT_BOOK_MISMATCH';

  END IF;

  RETURN NEW;

END $$;


ALTER FUNCTION public.enforce_snapshot_book_match() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: book_characters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.book_characters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    book_id uuid NOT NULL,
    character_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.book_characters OWNER TO postgres;

--
-- Name: book_genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.book_genres (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    book_id uuid NOT NULL,
    genre_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.book_genres OWNER TO postgres;

--
-- Name: books; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.books (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    synopsis text,
    cover_url text,
    target_word_count integer DEFAULT 0 NOT NULL,
    current_word_count integer DEFAULT 0 NOT NULL,
    status public.book_status DEFAULT 'draft'::public.book_status NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.books OWNER TO postgres;

--
-- Name: chapter_character_mentions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapter_character_mentions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    chapter_id uuid NOT NULL,
    character_id uuid NOT NULL,
    display_text character varying(255) NOT NULL,
    start_offset integer,
    end_offset integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_mention_offsets CHECK (((start_offset IS NULL) OR (end_offset IS NULL) OR ((start_offset >= 0) AND (end_offset >= start_offset))))
);


ALTER TABLE public.chapter_character_mentions OWNER TO postgres;

--
-- Name: chapter_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapter_snapshots (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    chapter_id uuid NOT NULL,
    book_id uuid NOT NULL,
    chapter_title character varying(255) NOT NULL,
    content text DEFAULT ''::text NOT NULL,
    word_count integer DEFAULT 0 NOT NULL,
    reason character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chapter_snapshots OWNER TO postgres;

--
-- Name: chapters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    book_id uuid NOT NULL,
    chapter_number integer NOT NULL,
    title character varying(255) NOT NULL,
    content text DEFAULT ''::text NOT NULL,
    word_count integer DEFAULT 0 NOT NULL,
    character_count integer DEFAULT 0 NOT NULL,
    status public.chapter_status DEFAULT 'draft'::public.chapter_status NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    last_saved_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chapters OWNER TO postgres;

--
-- Name: character_custom_attributes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_custom_attributes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    character_id uuid NOT NULL,
    attribute_key character varying(100) NOT NULL,
    attribute_value text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.character_custom_attributes OWNER TO postgres;

--
-- Name: character_relationships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_relationships (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    character_id uuid NOT NULL,
    target_character_id uuid NOT NULL,
    relation_type character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_relationship_not_self CHECK ((character_id <> target_character_id))
);


ALTER TABLE public.character_relationships OWNER TO postgres;

--
-- Name: characters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.characters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    full_name character varying(255) NOT NULL,
    alias character varying(255),
    age character varying(50),
    gender character varying(50),
    role_tag public.character_role_tag DEFAULT 'Netral'::public.character_role_tag NOT NULL,
    status public.character_status DEFAULT 'Hidup'::public.character_status NOT NULL,
    avatar_url text,
    physical_appearance text,
    personality_traits text,
    backstory text,
    motivation text,
    world_goal text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.characters OWNER TO postgres;

--
-- Name: genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genres (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.genres OWNER TO postgres;

--
-- Name: quick_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quick_notes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    note_scope public.note_scope DEFAULT 'other'::public.note_scope NOT NULL,
    note_category public.note_category DEFAULT 'Lainnya'::public.note_category NOT NULL,
    book_id uuid,
    chapter_id uuid,
    character_id uuid,
    title character varying(255) NOT NULL,
    content text DEFAULT ''::text NOT NULL,
    color_tag character varying(20),
    is_pinned boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.quick_notes OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_role DEFAULT 'user'::public.user_role NOT NULL,
    author_name character varying(100),
    pen_name character varying(100),
    bio text,
    avatar_url text,
    daily_word_goal integer DEFAULT 0 NOT NULL,
    today_word_count integer DEFAULT 0 NOT NULL,
    last_active_date date,
    theme character varying(20) DEFAULT 'dark'::character varying NOT NULL,
    sound_effects boolean DEFAULT true NOT NULL,
    preferred_genre character varying(100),
    tutorial_completed boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: book_characters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.book_characters (id, book_id, character_id, created_at) FROM stdin;
\.


--
-- Data for Name: book_genres; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.book_genres (id, book_id, genre_id, created_at) FROM stdin;
\.


--
-- Data for Name: books; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.books (id, user_id, title, synopsis, cover_url, target_word_count, current_word_count, status, created_at, updated_at) FROM stdin;
acd01a42-3628-47ca-ac74-461a041806ec	7ce8f48a-b955-4417-90cd-6a044834072f	Olaka	oala dan oaka	\N	50000	0	draft	2026-09-18 07:38:51.723389	2026-09-18 07:38:51.723389
f565fdf6-b604-4694-8c6b-a7fee579e645	7ce8f48a-b955-4417-90cd-6a044834072f	Moma	mokk	\N	50000	0	ongoing	2026-09-18 08:41:34.392067	2026-09-18 08:41:34.392067
\.


--
-- Data for Name: chapter_character_mentions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chapter_character_mentions (id, chapter_id, character_id, display_text, start_offset, end_offset, created_at) FROM stdin;
\.


--
-- Data for Name: chapter_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chapter_snapshots (id, chapter_id, book_id, chapter_title, content, word_count, reason, created_at) FROM stdin;
\.


--
-- Data for Name: chapters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: character_custom_attributes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.character_custom_attributes (id, character_id, attribute_key, attribute_value, created_at, updated_at) FROM stdin;
bf1d0688-25c4-4d05-a8cf-214b84c0a02c	c7b6d275-e9ec-4bb3-bd92-7f6dda704141	Weapon	Shadow Blade	2026-09-14 17:59:53.043865	2026-09-14 17:59:53.043865
\.


--
-- Data for Name: character_relationships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.character_relationships (id, character_id, target_character_id, relation_type, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: characters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.genres (id, name, created_at) FROM stdin;
\.


--
-- Data for Name: quick_notes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quick_notes (id, user_id, note_scope, note_category, book_id, chapter_id, character_id, title, content, color_tag, is_pinned, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: book_characters book_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_characters
    ADD CONSTRAINT book_characters_pkey PRIMARY KEY (id);


--
-- Name: book_genres book_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_genres
    ADD CONSTRAINT book_genres_pkey PRIMARY KEY (id);


--
-- Name: books books_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_pkey PRIMARY KEY (id);


--
-- Name: chapter_character_mentions chapter_character_mentions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_character_mentions
    ADD CONSTRAINT chapter_character_mentions_pkey PRIMARY KEY (id);


--
-- Name: chapter_snapshots chapter_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_snapshots
    ADD CONSTRAINT chapter_snapshots_pkey PRIMARY KEY (id);


--
-- Name: chapters chapters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_pkey PRIMARY KEY (id);


--
-- Name: character_custom_attributes character_custom_attributes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_custom_attributes
    ADD CONSTRAINT character_custom_attributes_pkey PRIMARY KEY (id);


--
-- Name: character_relationships character_relationships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_relationships
    ADD CONSTRAINT character_relationships_pkey PRIMARY KEY (id);


--
-- Name: characters characters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT characters_pkey PRIMARY KEY (id);


--
-- Name: genres genres_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_name_key UNIQUE (name);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (id);


--
-- Name: quick_notes quick_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quick_notes
    ADD CONSTRAINT quick_notes_pkey PRIMARY KEY (id);


--
-- Name: book_characters uq_book_character; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_characters
    ADD CONSTRAINT uq_book_character UNIQUE (book_id, character_id);


--
-- Name: book_genres uq_book_genre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_genres
    ADD CONSTRAINT uq_book_genre UNIQUE (book_id, genre_id);


--
-- Name: chapters uq_chapter_number_per_book; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT uq_chapter_number_per_book UNIQUE (book_id, chapter_number);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_book_characters_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_book_characters_book_id ON public.book_characters USING btree (book_id);


--
-- Name: idx_book_characters_character_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_book_characters_character_id ON public.book_characters USING btree (character_id);


--
-- Name: idx_book_genres_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_book_genres_book_id ON public.book_genres USING btree (book_id);


--
-- Name: idx_book_genres_genre_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_book_genres_genre_id ON public.book_genres USING btree (genre_id);


--
-- Name: idx_books_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_search ON public.books USING gin (to_tsvector('simple'::regconfig, (((COALESCE(title, ''::character varying))::text || ' '::text) || COALESCE(synopsis, ''::text))));


--
-- Name: idx_books_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_user_id ON public.books USING btree (user_id);


--
-- Name: idx_chapters_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chapters_book_id ON public.chapters USING btree (book_id);


--
-- Name: idx_chapters_book_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chapters_book_sort ON public.chapters USING btree (book_id, sort_order, chapter_number);


--
-- Name: idx_chapters_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chapters_search ON public.chapters USING gin (to_tsvector('simple'::regconfig, (((COALESCE(title, ''::character varying))::text || ' '::text) || COALESCE(content, ''::text))));


--
-- Name: idx_characters_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_characters_search ON public.characters USING gin (to_tsvector('simple'::regconfig, (((((COALESCE(full_name, ''::character varying))::text || ' '::text) || (COALESCE(alias, ''::character varying))::text) || ' '::text) || COALESCE(backstory, ''::text))));


--
-- Name: idx_characters_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_characters_user_id ON public.characters USING btree (user_id);


--
-- Name: idx_custom_attributes_character_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_custom_attributes_character_id ON public.character_custom_attributes USING btree (character_id);


--
-- Name: idx_mentions_chapter_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mentions_chapter_id ON public.chapter_character_mentions USING btree (chapter_id);


--
-- Name: idx_mentions_chapter_offsets; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mentions_chapter_offsets ON public.chapter_character_mentions USING btree (chapter_id, start_offset);


--
-- Name: idx_mentions_character_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mentions_character_id ON public.chapter_character_mentions USING btree (character_id);


--
-- Name: idx_notes_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notes_search ON public.quick_notes USING gin (to_tsvector('simple'::regconfig, (((COALESCE(title, ''::character varying))::text || ' '::text) || COALESCE(content, ''::text))));


--
-- Name: idx_notes_user_updated; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notes_user_updated ON public.quick_notes USING btree (user_id, updated_at DESC);


--
-- Name: idx_quick_notes_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quick_notes_book_id ON public.quick_notes USING btree (book_id);


--
-- Name: idx_quick_notes_chapter_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quick_notes_chapter_id ON public.quick_notes USING btree (chapter_id);


--
-- Name: idx_quick_notes_character_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quick_notes_character_id ON public.quick_notes USING btree (character_id);


--
-- Name: idx_quick_notes_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_quick_notes_user_id ON public.quick_notes USING btree (user_id);


--
-- Name: idx_relationship_character_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_relationship_character_id ON public.character_relationships USING btree (character_id);


--
-- Name: idx_relationship_target_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_relationship_target_id ON public.character_relationships USING btree (target_character_id);


--
-- Name: idx_snapshots_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_snapshots_book_id ON public.chapter_snapshots USING btree (book_id);


--
-- Name: idx_snapshots_chapter_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_snapshots_chapter_created ON public.chapter_snapshots USING btree (chapter_id, created_at DESC);


--
-- Name: idx_snapshots_chapter_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_snapshots_chapter_id ON public.chapter_snapshots USING btree (chapter_id);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: uq_character_attribute_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_character_attribute_key ON public.character_custom_attributes USING btree (character_id, lower((attribute_key)::text));


--
-- Name: chapter_character_mentions trg_mention_book_character_match; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_mention_book_character_match BEFORE INSERT OR UPDATE ON public.chapter_character_mentions FOR EACH ROW EXECUTE FUNCTION public.enforce_mention_book_character_match();


--
-- Name: chapter_snapshots trg_snapshot_book_match; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_snapshot_book_match BEFORE INSERT OR UPDATE ON public.chapter_snapshots FOR EACH ROW EXECUTE FUNCTION public.enforce_snapshot_book_match();


--
-- Name: book_characters fk_book_characters_book; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_characters
    ADD CONSTRAINT fk_book_characters_book FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- Name: book_characters fk_book_characters_character; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_characters
    ADD CONSTRAINT fk_book_characters_character FOREIGN KEY (character_id) REFERENCES public.characters(id) ON DELETE CASCADE;


--
-- Name: book_genres fk_book_genres_book; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_genres
    ADD CONSTRAINT fk_book_genres_book FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- Name: book_genres fk_book_genres_genre; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_genres
    ADD CONSTRAINT fk_book_genres_genre FOREIGN KEY (genre_id) REFERENCES public.genres(id) ON DELETE CASCADE;


--
-- Name: books fk_books_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT fk_books_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: chapters fk_chapters_book; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT fk_chapters_book FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- Name: characters fk_characters_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.characters
    ADD CONSTRAINT fk_characters_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: character_custom_attributes fk_custom_attributes_character; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_custom_attributes
    ADD CONSTRAINT fk_custom_attributes_character FOREIGN KEY (character_id) REFERENCES public.characters(id) ON DELETE CASCADE;


--
-- Name: chapter_character_mentions fk_mentions_chapter; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_character_mentions
    ADD CONSTRAINT fk_mentions_chapter FOREIGN KEY (chapter_id) REFERENCES public.chapters(id) ON DELETE CASCADE;


--
-- Name: chapter_character_mentions fk_mentions_character; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_character_mentions
    ADD CONSTRAINT fk_mentions_character FOREIGN KEY (character_id) REFERENCES public.characters(id) ON DELETE CASCADE;


--
-- Name: quick_notes fk_notes_book; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quick_notes
    ADD CONSTRAINT fk_notes_book FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- Name: quick_notes fk_notes_chapter; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quick_notes
    ADD CONSTRAINT fk_notes_chapter FOREIGN KEY (chapter_id) REFERENCES public.chapters(id) ON DELETE CASCADE;


--
-- Name: quick_notes fk_notes_character; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quick_notes
    ADD CONSTRAINT fk_notes_character FOREIGN KEY (character_id) REFERENCES public.characters(id) ON DELETE CASCADE;


--
-- Name: quick_notes fk_notes_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quick_notes
    ADD CONSTRAINT fk_notes_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: character_relationships fk_relationship_character; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_relationships
    ADD CONSTRAINT fk_relationship_character FOREIGN KEY (character_id) REFERENCES public.characters(id) ON DELETE CASCADE;


--
-- Name: character_relationships fk_relationship_target; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_relationships
    ADD CONSTRAINT fk_relationship_target FOREIGN KEY (target_character_id) REFERENCES public.characters(id) ON DELETE CASCADE;


--
-- Name: chapter_snapshots fk_snapshots_book; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_snapshots
    ADD CONSTRAINT fk_snapshots_book FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- Name: chapter_snapshots fk_snapshots_chapter; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_snapshots
    ADD CONSTRAINT fk_snapshots_chapter FOREIGN KEY (chapter_id) REFERENCES public.chapters(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ktKpoLvZntWjFtygkvGbdkwbbGmNSq4Nc5LdYoEZBPfoqu1CAdv15br830o4ygP

